#metodNames{
    color:#BA180B;
    font-size:25px;
  }
  p{
    font-size:20px;
    color: black ;
  }
  div{
    font-size:25px;
  }
  
  .colorp{
    background-color:#FFC300 ;
  }
  button{
    background-color:#C73E33  ;
  }

  .btn-group .button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }
  
  .btn-group .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
  }
 
  .aqua {
    background-color: aqua;
  }

  .crimson {
    background-color: crimson;
  }