button {
    background-color: #0486d780;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #0984a6;
}

button:active {
    background-color: #0984a6;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: #6b707280;
    cursor: not-allowed;
}

button:disabled:focus {
    outline: none;
}