body {
    display: block;
    text-align: -webkit-center;
}

.top {
    background-color: #EEEEEE;
    margin: 2px;
    width: 80%;
}

section {
    margin-left: 10%;
}

article {
    height: 80px;
    float: left;    margin-right: 2px;
    background-color: rgb(126, 229, 218);
}

footer {
    margin:5%;
}